<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>17/12/18 11:50:41</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestClassTwo.setUp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.demo.AppiumGrid.TestClassTwo@239963d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1821017081</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:50:41</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestClassTwo.setUp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.demo.AppiumGrid.TestClassTwo@1bce4f0a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@864884355</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:51:12</td>   <td>31004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassTwo.testA()[pri:1, instance:com.demo.AppiumGrid.TestClassTwo@1bce4f0a]">testA</td> 
  <td>TestNG-tests-1@864884355</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:51:22</td>   <td>40788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassTwo.testA()[pri:1, instance:com.demo.AppiumGrid.TestClassTwo@239963d8]">testA</td> 
  <td>TestNG-tests-2@1821017081</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:51:31</td>   <td>49883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassTwo.testD()[pri:2, instance:com.demo.AppiumGrid.TestClassTwo@1bce4f0a]">testD</td> 
  <td>TestNG-tests-1@864884355</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:51:39</td>   <td>57850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassTwo.testD()[pri:2, instance:com.demo.AppiumGrid.TestClassTwo@239963d8]">testD</td> 
  <td>TestNG-tests-2@1821017081</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:51:46</td>   <td>64531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassTwo.testB()[pri:3, instance:com.demo.AppiumGrid.TestClassTwo@1bce4f0a]">testB</td> 
  <td>TestNG-tests-1@864884355</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:51:53</td>   <td>71469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassTwo.testB()[pri:3, instance:com.demo.AppiumGrid.TestClassTwo@239963d8]">testB</td> 
  <td>TestNG-tests-2@1821017081</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:52:01</td>   <td>79696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassTwo.testC()[pri:4, instance:com.demo.AppiumGrid.TestClassTwo@1bce4f0a]">testC</td> 
  <td>TestNG-tests-1@864884355</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:52:06</td>   <td>84939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassTwo.testC()[pri:4, instance:com.demo.AppiumGrid.TestClassTwo@239963d8]">testC</td> 
  <td>TestNG-tests-2@1821017081</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:52:15</td>   <td>94113</td> <td>&nbsp;</td><td title="&lt;&lt;TestClassTwo.tearDown()[pri:0, instance:com.demo.AppiumGrid.TestClassTwo@1bce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@864884355</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/18 11:52:20</td>   <td>98537</td> <td>&nbsp;</td><td title="&lt;&lt;TestClassTwo.tearDown()[pri:0, instance:com.demo.AppiumGrid.TestClassTwo@239963d8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1821017081</td>   <td></td> </tr>
</table>
